@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas___-webfont.eot');
    src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body h1, body h2, body h3, body h4, body h5{
	font-weight: normal;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.nav.navbar{
	background-color: @white;
	margin-bottom: 0;
	border: none;
}

.navbar-collapse{
	background-color: white;
}

.nav-buttons{
	color: black;
}


.heading-section{
	background-color: #BBD2F1;
}

.heading-section2{
	background-color: #282124;
}

.heading-section3{
	background-color: #3F3B31;
}

.heading-section4{
	background-color: #1A1A1A;
}

.main-heading{
	text-align: center;
	color: white;
	font-size: 95px;
	margin-top: 200px;
	margin-bottom: 80px;
	font-family: bebasregular;
}

.main-heading2{
	text-align: center;
	color: white;
	font-size: 95px;
	margin-top: 200px;
	margin-bottom: 200px;
	font-family: bebasregular;
}

.sub-heading{
	text-align: center;
	color: white;
	font-size: 80px;
}

.social-media{
	background-color: #1A1914;
}

.large-photo{
	
}

.banner-heading{
  position: absolute;
  right: 15%;
  bottom: 70%;
  top: 50%;
  left: 15%;
  color: #fff;
  text-align: center;
}

.little-tidbit{
	color: white;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 40px;
	font-family: monospace;
	font-size: 20px;
}

.little-tidbit2{
	color: white;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 100px;
	font-family: monospace;
	font-size: 16px;
}

.biography{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	margin-bottom: 80px;
	font-family: monospace;
	font-size: 16px;
}

.footer-section{
	background-color: #000000;
	color: white;
	text-align: center;
	font-family: monospace;
	font-size: 14px;
}

.trees{
	text-align:center;
	margin-top:100px;
	margin-bottom:100px;
}

.container-fluid{
	margin: 0 auto;
	padding: 0;
	max-width: 1800px;
}

.container-fluid .row{
	padding: 0;
}

.project-images{
	margin-top: 30px;
}

.thumbnail{
	position: relative;
}

.thumbnail span{
	display: none;
	position: absolute;
	padding-top: 100px;
	top: 0;
	text-align: center;
	width: 100%;
}

.copyright{
	margin-bottom: 80px;
}

.thumbnail:hover span{
	display: block;
}

.hover-font{
	color: white;
	font-family: helvetica;
}

.nav a{
	color: black;
	font-family: bebasregular;
}

a.blog-nav{
	color: black;
	font-family: bebasregular;
	margin-right:30px;
}
.project-images{
	border: none;
	margin-bottom: 100px;
}		

nav.navbar{;
}