<!DOCTYPE HTML>
<html>
	<head>
		<title>ARTISTS | THE BOOK CLUB</title>
		<link href="css/bootstrap.min.css" rel="stylesheet"> <link href="css/master.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<body>
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header clearfix">
          <button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img class="img-responsive" src="images/logo.png" alt="Charles Stemen"></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav" collapse="mobileMenuCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-buttons"><a href="about.html" ng-click="closeMenu()">ABOUT</a></li>
            <li><a href="artists.html" ng-click="closeMenu()">ARTISTS</a></li>
            <li><a href="contact.html" ng-click="closeMenu()">CONTACT</a></li>
            <li><a href="blog.html" ng-click="closeMenu()">BLOG</a></li>
          </ul>
        </div>
      </nav>
    <section>
      <div class="heading-section2">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="main-heading2">
              ARTISTS
            </h3>
          </div>
        </div>
      </div>
    <section>   	
		<section class="project-images">
			<div class="container">
				<div class="row project-images">
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">BRIAN ZAGER </span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">PHEOBE LOW</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">JACKSON TUPPER</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">AVERY McINTOSH</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">MOLLY ZAGER</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">JOE CHUGG</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">WILL STEVENSON</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">CHRIS RUBEN</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="thumbnail">
      						<img class="img-responsive gallery-image" src="http://placehold.it/400x400">
      						<span class="hover-font">ROSS TRAVIS</span>
    					</a>
  					</div>
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                  <img class="img-responsive gallery-image" src="http://placehold.it/400x400">
                  <span class="hover-font">VISCAYA WAGNER</span>
              </a>
            </div>
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                  <img class="img-responsive gallery-image" src="http://placehold.it/400x400">
                  <span class="hover-font">HALEY AHEARN</span>
              </a>
            </div>
             <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                  <img class="img-responsive gallery-image" src="http://placehold.it/400x400">
                  <span class="hover-font">ZACH LINCOLN</span>
              </a>
            </div>
				</div>	
			</div>	
		</section>
			<div class="col-xs-12 social-media">
				<p></P>
				<p></P>
				<p></P>
				<p></P>	
			</div>
		</section>	
		<footer>
			<div class="row footer-section">
				<div class="col-xs-12">
					<p>&copy; 2014 WILL STEVENSON PHOTOGRAPHY <span class="glyphicon glyphicon-tree-conifer"></span></p>
				</div>
			</div>
		</footer>
	</body>
</html>
